<!-- BootStrap
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">



<div class="background"></div>

    <div class="mx-3 mt-2 animate__animated animate__fadeIn animate__faster">
        
        <div class="row container">
            <div class="col-6">
                <div class="row">
                    <div class="card" style="border-radius: 10px; width: fit-content; left: 250px;">
                        <div class="card-body">
                            <img [src]="imageUrl" alt="UserAvatar"><br>
                            <h5 class="card-title" style="text-align: center;">{{usuario.name}}</h5>
                            <p class="card-text" style="text-align: center;">{{usuario.role | titlecase }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="card" style="border-radius: 10px; width: fit-content; left: 250px;">
                        <div class="card-body">
                            <a class="twitter-timeline" href="https://twitter.com/Harry_Styles?ref_src=twsrc%5Etfw">Tweets by Harry_Styles</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>                          
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="col-6" style="margin-top: 20px; text-align:right; left: 70%; justify-items: right;">
                <iframe src="https://free.timeanddate.com/clock/i7xvvrfw/n245/tlhn4/fn12/fs30/fcfff/tct/pct/ftb/bat1/bacfff/pa10/tt0/tw0/tm1/th2/ts1/tb4" frameborder="0" width="337" height="82" allowtransparency="true"></iframe>
            </div>
    
        </div>
    </div> -->


<!-- <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Serfish Dashboard</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
          rel="stylesheet"
        />
        <link rel="stylesheet" href="./opening.component.css" />
      </head>
      <body>
        
        <div class="background"></div>
        <main>
          <section class="glass">
            <div class="dashboard">
              <div class="user">
                <img [src]="imageUrl" alt="UserAvatar" style="margin: 3rem;"><br>
                <h3>{{usuario.name}}</h3>
                <p>{{usuario.role | titlecase }}</p>
              </div>
              <div class="links">
                <div class="link">
                  <img src="poner un gráfico" alt="" />
                  <h2>Estadísticas de su organización</h2>
                </div>
                  <div class="link">
                    <mat-card color="accent" class="mt-2" style="width: 100%; text-align: center; border-radius: 20px;">
                      <mat-card-content>
                        <iframe width="290" height="190" src="https://embed.windy.com/embed2.html?lat=14.584&lon=-86.287&detailLat=14.103&detailLon=-87.214&width=290&height=190&zoom=6&level=surface&overlay=wind&product=ecmwf&menu=&message=true&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1" frameborder="0" style="border-radius: 20px;"></iframe>                  
                      </mat-card-content>
                    </mat-card>
                    <h2>Algunas zonas de estudio</h2>
                  </div>              
                <div class="link"> 
                  <mat-card-content>
                    <div class="row">
                       
                            <div class="w-100" style="display: flex; flex-wrap: wrap; justify-items: center; ">
                                <mat-card color="accent" class="mt-2" style="width: 100%; text-align: center; border-radius: 20px;">                                  
                                    <mat-card-content>
                                      <p style="font-size: 1.5rem;">{{ currentWeather.weather[0].description | titlecase }}</p>
                                      <img style="width: 200px; " [src]=" currentWeather.weather[0].icon |codeImg " alt="">
                                      <p style="font-size: 2rem;">{{ currentWeather.main.temp_max | kelvilCelsius }}°/{{
                                        currentWeather.main.temp_min | kelvilCelsius }}°</p>
                                        <p>{{currentWeather.main.humidity}}%</p>
                                        <p>{{currentWeather.wind.speed|msKmh}}km/h</p>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        
                    </div>
                </mat-card-content>
                <h2>Clima de hoy</h2>
                </div>
                <div class="link">
           
                  <mat-card color="accent" class="mt-2" style="width: 100%; text-align: center; border-radius: 20px;">
                    <mat-card-content>
                      <iframe src="https://free.timeanddate.com/clock/i7xxtuhg/n245/tlhn4/fn5/fs22/fc888/tct/pct/pa0/tt0/tw1/tm1/td2/th2/tb4" frameborder="0" width="266" height="52" allowtransparency="true"></iframe>
                    </mat-card-content>
                  </mat-card>                                  
                  <h2>Hora y fecha</h2>
                </div>
              </div>
              <div class="pro">
                <h2>Serfish integra harramientas útiles para el estudio de la pesca artesanal.</h2>
              </div>
            </div>
            <div class="games">
              <div class="status">
                <h1>Más sobre pesca</h1>
                <input type="text" />
              </div>
              <div class="cards">
                <mat-card class="card">
                  <div class="card-info">
                    <a class="twitter-timeline" href="https://twitter.com/FlyFishReport?ref_src=twsrc%5Etfw">Tweets by FlyFishReport</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>                  </div>
                </mat-card>
              </div>
            </div>
          </section>
        </main>
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
        <div class="circle5"></div>
      </body>
    </html> -->


<div class="row">
  <div class="col-6">
    <div class="dashboard p-4">
      <div class="user">
        <img [src]="imageUrl" alt="UserAvatar" class="img2"><br>
        <div style="display: flex; flex-direction: column;">
          <h3 style="margin: 0;">{{usuario.name}}</h3>
          <p>{{usuario.role | titlecase }}</p>
        </div>
      </div>

      <div class="chart" style="align-items: center;">
        <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
        </canvas>
      </div>
      <div class="chart" style="align-items: center;">
        <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
        </canvas>
      </div>
      
    </div>
  </div>
  <div class="col-6">
    <div class="games me-4">
      <div class="link">
        <h3>Clima actual</h3>
        <mat-card-content>
          <div class="row">
            <div class="" style="display: flex; flex-wrap: wrap; justify-items: center; ">
              <mat-card color="accent" class="mt-2" style="width: 100%; text-align: center; border-radius: 20px;">
                <mat-card-content>
                  <p style="font-size: 1.5rem;">{{ currentWeather.weather[0].description | titlecase }}</p>
                  <img style="width: 200px; " [src]=" currentWeather.weather[0].icon |codeImg " alt="">
                  <p style="font-size: 2rem;">{{ currentWeather.main.temp_max | kelvilCelsius }}°/{{
                    currentWeather.main.temp_min | kelvilCelsius }}°</p>
                  <p>{{currentWeather.main.humidity}}%</p>
                  <p>{{currentWeather.wind.speed|msKmh}}km/h</p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
        <h2>Hora y fecha</h2>
        <mat-card color="accent" class="mt-2" style="width: 100%; text-align: center; border-radius: 20px;">
          <mat-card-content>
            <iframe src="https://free.timeanddate.com/clock/i7xxtuhg/n245/tlhn4/fn5/fs22/fc888/tct/pct/pa0/tt0/tw1/tm1/td2/th2/tb4" frameborder="0" width="266" height="52" allowtransparency="true"></iframe>
          </mat-card-content>
        </mat-card>                                  
      </div>
    </div>
  </div>
</div>
<div class="row m-3">
  <div class="col-4">
    <mat-card>
      <a class="twitter-timeline" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card>
      <a class="twitter-timeline" href="https://twitter.com/TwitterDev/lists/national-parks?ref_src=twsrc%5Etfw">A Twitter List by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card>
      <a class="twitter-timeline" href="https://twitter.com/aquariumss?ref_src=twsrc%5Etfw">Tweets by aquariumss</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </mat-card>
  </div>
</div>
<div class="row m-2">
  <div class="col">
    <mat-card>
      <iframe width="100%" height="550" src="https://embed.windy.com/embed2.html?lat=10.228&lon=-87.231&detailLat=14.103&detailLon=-87.214&width=650&height=450&zoom=5&level=surface&overlay=wind&product=ecmwf&menu=&message=true&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1" frameborder="0"></iframe>
    </mat-card>
  </div>
</div>