<div class="container">
    <div class="row">

        <form [formGroup]="eventForm" (ngSubmit)="createEvent()" autocomplete="off">

            <div class="col-md-6 ">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Titulo evento</mat-label>
                    <input matInput formControlName="name">
                    <mat-icon class="me-2" matSuffix>event_available</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Descripcion</mat-label>
                    <input matInput formControlName="description">
                    <mat-icon class="" matSuffix>description</mat-icon>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Locacion</mat-label>
                    <input matInput formControlName="location">
                    <mat-icon class="" matSuffix>fmd_good</mat-icon>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <p-calendar class="p-grid p-fluid" formControlName="startDate" [showTime]="true" [showIcon]="true" placeholder="Fecha de inicio"></p-calendar>
            </div>
            <div class="col-md-6 mt-2">
                <p-calendar class="p-grid p-fluid" formControlName="endDate" [showTime]="true" [showIcon]="true" placeholder="Fecha de fin"></p-calendar>
            </div>

            <div class="col-12 d-flex flex-sm-row flex-column mt-2 mt-3">
                <button type="submit" mat-stroked-button color="accent" [disabled]="eventForm.pristine">Guardar
                            evento</button>
            </div>
        </form>

    </div>
</div>