.p-calendar-w-btn {
    border: 1px solid rgba(0, 0, 0, 0.38);
    background: none !important;
    border-radius: 4px;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.p-calendar {
    /* position: relative; */
    position: inherit !important;
    display: inline-flex;
}