html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: var(--font-family);
    background-color: var(--surface-b);
}
/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-spacer {
    flex: 1 1 auto;
}