<div class="contenedor">
    <div class="row">
        <div class="col-md-2 col-sm-12">
            <img alt="User avatar" [src]="imageUrl">
        </div>

        <div class="col-md-8 col-sm-12">
            <h4>{{user.name}}</h4>
            <div>
                <input type="file">
                <button type="button" class="btn btn-outline-primary m-1">
                    Agregar
                </button>
            </div>
        </div>
    </div>
    <form [formGroup]="editForm" (ngSubmit)="updateUser()" autocomplete="off">
        <div class="row ">
            <div class="col-md-6 " *ngIf="usuarioActual.role ==='admin'">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Nombre de usuario</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-icon class="me-2" matPrefix>person</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6 " *ngIf="usuarioActual.role ==='admin'">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-icon class="me-2" matPrefix>person</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-12 " *ngIf="usuarioActual.role !='admin'">
                <mat-form-field class="w-50" appearance="fill">
                    <mat-label>Nombre de usuario</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-icon class="me-2" matPrefix>person</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-12 " *ngIf="usuarioActual.role !=='admin'">
                <mat-form-field class="w-50" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-icon class="me-2" matPrefix>person</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6 " *ngIf="usuarioActual.role ==='admin'">
                <mat-icon class="me-2" matPrefix>how_to_reg</mat-icon>
                <label id="state">Estado: </label>
                <mat-radio-group aria-labelledby="state" class="radio-group" formControlName="state">
                    <mat-radio-button color="primary" class="radio-button" [value]="true" [checked]="this.checked">
                        Activo
                    </mat-radio-button>
                    <mat-radio-button color="primary" class="radio-button" [value]="false" [checked]="!this.checked">
                        Inactivo
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-md-6 " *ngIf="usuarioActual.role ==='admin'">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Rol</mat-label>
                    <select matNativeControl required formControlName="role">
                              <option value="admin" >Admin</option>
                              <option value="biologo" >Científico comunitario</option>
                              <!-- <option value="Cientifico comunitario" [selected]="user.role">Cientifico comunitario</option> -->
                              <option value="encuestador" >Encuestador</option>
                    </select>
                    <mat-icon class="me-2" matPrefix>people</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-12 d-flex flex-sm-row flex-column mt-2 ">
                <button type="submit" class="btn btn-outline-primary m-1"> <!-- [disabled]="editForm.invalid"> -->
                         Guardar cambios
                </button>
            </div>
        </div>
    </form>

</div>

<div class="contenedor">
    <div>
        <h3>Cambiar contraseña</h3>
        <form [formGroup]="editPassword" #formDirective="ngForm" (ngSubmit)="updatePassword(formDirective)" autocomplete="off">
            <div class="row ">
                <div class="col-md-6 ">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Antigua contraseña</mat-label>
                        <input matInput formControlName="oldPassword" required>
                        <mat-icon class="me-2" matPrefix>lock</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Nueva Contraseña</mat-label>
                        <input matInput formControlName="newPassword" required>
                        <mat-icon class="me-2" matPrefix>lock</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-md-6 ">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Confirmar contraseña</mat-label>
                        <input matInput formControlName="confirmPassword" required>
                        <mat-icon class="me-2" matPrefix>lock</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-12 d-flex flex-sm-row flex-column mt-2 ">
                    <button type="submit" class="btn btn-outline-primary m-1" [disabled]=" editPassword.invalid">Guardar cambios</button>
                </div>
            </div>
        </form>
    </div>
</div>