
<div class="prueba px-5 pt-3" style="color: #414042;">
    <h1 style="margin: 0;">Ajustes de cuenta</h1>
    <svg height="10" width="300">
        <line x1="0" y1="0" x2="150" y2="0" />
    </svg>
    <div class="row">
        <div class="col-3">

            <button class="my-2 btn-opt" mat-button (click)="mostrar('G')"><img class="imgIcon"
                    src="../../../../assets/profile/usuarioA.png" alt="">General</button>
            <button class="mb-2 btn-opt" mat-button (click)="mostrar('P')"><img class="imgIcon"
                    src="../../../../assets/profile/contrasenaA.png" alt="">Cambiar contraseña</button>
            <button class="mb-2 btn-opt" mat-button><img class="imgIcon"
                    src="../../../../assets/profile/infoA.png" alt="">Informacion</button>
            <button class="mb-2 btn-opt" mat-button><img class="imgIcon"
                    src="../../../../assets/profile/participacionA.png" alt="">Social</button>
            <button class="mb-2 btn-opt" mat-button><img class="imgIcon"
                    src="../../../../assets/profile/campana-de-notificacionA.png" alt="">Notificaciones</button>
        </div>
        <div class="col-9">
            <div class="p-4 container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<div *ngIf="cargando" class="prueba2 animate__animated animate__fadeIn">
    <div class="centrarSpinner">
        <mat-spinner color="accent"></mat-spinner>
    </div> 
</div>