line {
    stroke: #ff4081;
    stroke-width: 8
}

.imgIcon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.prueba {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-image: url("../../../../../assets/clima/90.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-opt {
    width: 100%;
    height: 48px;
    text-align: left;
}

.container {
    width: 100%;
    border-radius: 10px;
    background-color: #fafafa;
    color: #414042;
}