
.img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.toolsticky{
    position: sticky;
    top: 0;
    z-index: 100;
}

ng-scrollbar {
    --scrollbar-thumb-color: rgba(3, 47, 122, 0.4);        /* scroll bar color */
    --scrollbar-thumb-hover-color: rgba(3, 47, 122, 0.6);     /* scroll bar hover color */
}

.perfil-container{
    margin-left: 1000px; 

}

.avatar-perfil{
    background-size: cover;
    border-radius: 50%;
} 

.size-50{
    width: 50px;
    height: 50px;
}

.size-60{
    width: 60px;
    height: 60px;
}

.size-70{
    width: 70px;
    height: 70px;
}
.size-80{
    width: 80px;
    height: 80px;
}

.size-90{
    width: 90px;
    height: 90px;
}

.size-100{
    width: 100px;
    height: 100px;
}

.pointer {
    cursor: pointer;
}

.perfil{ 
    position: relative; 
    margin-left: 10px;  
}

.perfil-cover{
    background-size:cover;
}

.perfil-bar{
    width: 100%;
    height: 30px;  
    position:relative;
    left:0px; 
    right:0px; 
    bottom: 0px;

    margin-top: 136px;
    z-index:0;
    display: inline-block;
}

.example-button-container{
    position:absolute;
    left:0px; 
    right:0px; 
    bottom:0px;
    z-index:0;
    display: inline-block;
}

.text-multiline{
    display: inline-block;
    font-size: 12px; 
    text-align: center; 
    top: 10px;
    
    /* white-space: pre; */

    height: 45px;  
    width: 300px;
}

.tools-user{
    height: 100%;
    left:0px; 
    right:0px; 
    bottom:0px;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;

}



.lineFile{
    float: left;
}

.fLeft{
    position: relative;
    left:-10px; 
    
}

#boxUser{
    width: 70%;
}
#boxTools{

    float: right;
    width: 30%;
}

.mart-10{
    margin-top: 10px;
}