<mat-sidenav-container class="animate__animated animate__fadeIn animate__faster" fullscreen>
    <mat-sidenav #snav mode="push" style="width: 255px;">
        <ng-scrollbar>
            <mat-toolbar color="primary" style="height: 56px;">
                <a href="">
                    <img class="me-3" style="width: 50px;" src="../../../assets/toolbar/pescado.png" alt="">
                </a>
                <span>SerFish</span>
                <span class="example-spacer"></span>
                <button mat-icon-button (click)="snav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </mat-toolbar>

            <hr class="mx-2">

            <div class="ms-2 me-4 mb-5 mb-5 p-2" style="background-color: rgba(236, 240, 241, 0.9); border-radius: 5px;">
                <button style="width: 100%; height: 48px; text-align: left;" class="my-2" mat-button (click)="navegate('opening')"><img class="img" src="../../../assets/sidebar/homepage.png"
                        alt="">Inicio</button>
                <button style="width: 100%; height: 48px; text-align: left;" class="mb-2" mat-button (click)="navegate('climate')"><img class="img" src="../../../assets/sidebar/dom.png"
                        alt="">Clima</button>
                <button style="width: 100%; height: 48px; text-align: left;" class="mb-2" mat-button (click)="navegate('calendar')"><img class="img" src="../../../assets/sidebar/calendario.png"
                        alt="">Calendario</button>
                <button style="width: 100%; height: 48px; text-align: left;" class="mb-2" mat-button (click)="navegate('document')"><img class="img" src="../../../assets/sidebar/agricultura.png"
                        alt="">Documentos</button>
                <button style="width: 100%; height: 48px; text-align: left;" class="mb-2" mat-button (click)="navegate('survey')"><img class="img" src="../../../assets/sidebar/encuesta.png" alt=""> Encuestas</button>

                <mat-accordion>
                    <mat-expansion-panel class="mb-2">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <img class="img" src="../../../assets/sidebar/mapa.png" alt=""> Zonas
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div style="display: flex;">
                            <button class="w-100 mb-2" mat-button (click)="navegate('map/map-view')">
                                <div
                                    style="display: flex; justify-content: space-between; align-items: center; text-align: center;">
                                    <p style="margin: 0;">Explorar</p>
                                    <img class="img float-end" style="margin: 0;" src="../../../assets/map/globe.png"
                                        alt="world">
                                </div>
                            </button>
                        </div>
                        <div style="display: flex;">
                            <button class="w-100" mat-button (click)="navegate('map/card-view')">
                                <div
                                    style="display: flex; justify-content: space-between; align-items: center; text-align: center;">
                                    <p style="margin: 0;">Tarjetas</p>
                                    <img class="img float-end" style="margin: 0;" src="../../../assets/map/location.png"
                                        alt="mk">
                                </div>
                            </button>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="mb-2">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <img class="img" src="../../../assets/sidebar/estadistica.png" alt=""> Estadística
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div style="display: flex;">
                            <button class="w-100 mb-2" mat-button (click)="navegate('chart')">
                                <div
                                    style="display: flex; justify-content: space-between; align-items: center; text-align: center;">
                                    <p style="margin: 0;">Datos biologicos</p>
                                    <img class="img float-end" style="margin: 0;" src="../../../assets/sidebar/biology.png"
                                        alt="world">
                                </div>
                            </button>
                        </div>
                        <div style="display: flex;">
                            <button class="w-100" mat-button>
                                <div
                                    style="display: flex; justify-content: space-between; align-items: center; text-align: center;">
                                    <p class="" style="margin: 0;">Encuestas</p>
                                    <img class="ms-5 img float-end" style="margin: 0;" src="../../../assets/map/location.png"
                                        alt="mk">
                                </div>
                            </button>
                        </div>
                    </mat-expansion-panel>

                    <!-- <mat-expansion-panel class="mb-2" (click)="navegate('survey')">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <img class="img" src="../../../assets/sidebar/encuesta.png" alt=""> Encuestas
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-selection-list [multiple]="false">
                            <mat-list-option>
                            </mat-list-option>
                        </mat-selection-list>
                    </mat-expansion-panel> -->
                </mat-accordion>
            </div>
            <div class="mb-4">&nbsp;</div>
            <mat-toolbar class="mt-3" style="position: sticky; bottom: 0; background-color: #ecf0f1;">
                <img mat-mini-fab color="primary" [src]="imageUrl.url" class="" style="width: 50px; border-radius: 50%; padding: 4px; margin-right: 5px;">
                <span style="font-size: 1rem;">
                    {{usuario.name}}
                </span>
                <span class="example-spacer"></span>
                <button mat-flat-button style="color: rgba(0,0,0,.75);background-color: rgba(0,0,0,0);" [matMenuTriggerFor]="sideAjustes">
                    <mat-icon>settings</mat-icon>
                </button>
                <mat-menu #sideAjustes="matMenu">
                    <mat-selection-list [multiple]="false">
                        <mat-list-option *ngIf="usuario.role=='admin'" (click)="action('setting')">
                            Gestión de usuarios
                        </mat-list-option>
                        <mat-list-option (click)="action('edit-profile')">
                            Editar Cuenta
                        </mat-list-option>
                        <mat-list-option (click)="logout()">
                            Cerrar Sesión
                        </mat-list-option>
                    </mat-selection-list>
                </mat-menu>
            </mat-toolbar>
        </ng-scrollbar>
    </mat-sidenav>

    <mat-sidenav-content>
        <ng-scrollbar>
            <mat-toolbar color="primary" class="toolsticky">
                <button mat-icon-button (click)="snav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <h1>Menu</h1>
                <span class="example-spacer"></span>
                <img mat-mini-fab color="primary" [src]="imageUrl.url" style="width: 50px; border-radius: 50%; padding: 4px; margin-right: 5px;">
                <span>{{usuario.name}}</span>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="action('edit-profile')">
                        <span style="color: rgba(0,0,0,.54)"><i class="fas fa-user-edit fa-lg me-3"></i>Editar</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <span style="color: rgba(0,0,0,.54)"><i class="fas fa-door-open fa-lg me-3"></i>Cerrar</span>
                    </button>
                </mat-menu>
            </mat-toolbar>
            <div>
                <router-outlet></router-outlet>
            </div>
        </ng-scrollbar>
    </mat-sidenav-content>
</mat-sidenav-container>