<h3 class="mb-3">Actualizar contraseña</h3>
<form [formGroup]="editPassword" (ngSubmit)="updatePassword()" autocomplete="off">
    <div class="row ">
        <div class="col-md-6 ">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Antigua contraseña</mat-label>
                <input [type]="hide ? 'password' : 'text'" matInput formControlName="oldPassword">
                <mat-icon class="me-2" matPrefix>lock</mat-icon>
                <button style="opacity: 0.5;" type="button" mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Nueva Contraseña</mat-label>
                <input [type]="hide2 ? 'password' : 'text'" matInput formControlName="newPassword">
                <mat-icon class="me-2" matPrefix>lock</mat-icon>
                <button style="opacity: 0.5;" type="button" mat-icon-button matSuffix (click)="hide2 = !hide2">
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="col-md-6 ">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Confirmar contraseña</mat-label>
                <input [type]="hide3 ? 'password' : 'text'" matInput formControlName="confirmPassword">
                <mat-icon class="me-2" matPrefix>lock</mat-icon>
                <button style="opacity: 0.5;" type="button" mat-icon-button matSuffix (click)="hide3 = !hide3">
                    <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="col-12 d-flex flex-sm-row flex-column mt-2 ">
            <!-- <button type="submit" class="btn btn-outline-primary m-1" [disabled]=" editPassword.invalid">Guardar cambios</button> -->
            <button type="submit" mat-stroked-button color="accent" [disabled]=" editPassword.invalid">Guardar
                cambios</button>
        </div>
    </div>
</form>