<div class="back">
    <div id="doc-container" class="m-5">
        <div class="m-2">
            <p-fileUpload #fileUploader name="archivo" accept=".xlsx,.xls,.doc,.docx,.ppt,.pptx,.pdf" [customUpload]="true" (uploadHandler)="loadFile($event)"></p-fileUpload>
        </div>

        <p-table [value]="this.documents" [paginator]="true" [rows]="5" styleClass="p-datatable-striped">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Formato</th>
                    <th>Subido por</th>
                    <th>Fecha</th>
                    <th>Archivo</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-documento>
                <tr>
                    <td [pTooltip]="documento.name.split('.').slice(0, -1).join('.')">{{(documento.name.split('.').slice(0, -1).join('.').length > 33)? (documento.name.split('.').slice(0, -1).join('.') | slice:0:33)+'...':(documento.name.split('.').slice(0, -1).join('.'))}}</td>
                    <td> {{documento.name.split('.')[1]}}</td>
                    <td>{{documento.ownerDocument}}</td>
                    <td>{{documento.uploadDate | date:'medium'}}</td>
                    <td>
                        <button pButton type="button" class="p-button-outlined p-button-rounded btn p-button-lg" (click)="descargar(documento.file, documento.name)" icon="pi pi-download" iconPos="left"></button>
                        <button pButton type="button" class="p-button-outlined p-button-rounded btn p-button-lg" (click)="deleteDocument(documento)" icon="pi pi-trash" iconPos="left"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>