<div class="back">
    <div id="doc-container" class="m-5 ">
        <h1 class="m-2">Documentos</h1>
        <hr>
        <p-accordion class="m-2" *ngIf="canAccess">
            <p-accordionTab>
                <ng-template pTemplate="header">Cargar Archivo</ng-template>
                <ng-template pTemplate="content">
                    <p-fileUpload #fileUploader name="archivo" accept=".xlsx,.xls,.doc,.docx,.ppt,.pptx,.pdf" [customUpload]="true" (uploadHandler)="loadFile($event)" chooseLabel="Elegir" uploadLabel="Cargar" cancelLabel="Cancelar">
                    </p-fileUpload>
                </ng-template>
            </p-accordionTab>
        </p-accordion>


        <p-table [value]="this.documents" [paginator]="true" [rows]="10" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Formato</th>
                    <th>Subido por</th>
                    <th>Fecha</th>
                    <th>Archivo</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-documento>
                <tr>
                    <td [pTooltip]="documento.name.split('.').slice(0, -1).join('.')">{{(documento.name.split('.').slice(0, -1).join('.').length > 33)? (documento.name.split('.').slice(0, -1).join('.') | slice:0:33)+'...':(documento.name.split('.').slice(0, -1).join('.'))}}</td>
                    <td> {{documento.name.split('.').pop()}}</td>
                    <td>{{documento.ownerDocument}}</td>
                    <td>{{documento.uploadDate | date:'medium'}}</td>
                    <td>
                        <button pButton type="button" class="p-button-outlined p-button-rounded btn p-button-lg" (click)="descargar(documento.file, documento.name)" icon="pi pi-download" iconPos="left"></button>
                        <button pButton type="button" class="p-button-outlined p-button-rounded btn p-button-lg" (click)="deleteDocument(documento)" icon="pi pi-trash" iconPos="left" *ngIf="canAccess"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>