.back {
    position: absolute;
    top: 56px;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url("../../../../../assets/clima/90.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

th,td {
    text-align: center!important;
}

th {
    color: white!important;
    background-color: #3F51B5!important;
} 

tr:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr:not(.example-expanded-row):active {
    background: #efefef;
}

.btn {
    margin: 1rem;
    color: #47b1b1;
}